<div class="rentals-list-w">
  <!--------------------
        START - Property Index Filters
        -------------------->

  <!--------------------
        END - Property Index Filters
        -------------------->
  <div class="rentals-list">
    <div class="list-controls">
      <div class="list-info">1,240 Properties found in Brooklyn, NY</div>
      <form action="">
      <div class="list-order">
        <label for="">Categorias:</label
        ><select>
          <option>Pollos a la brasa</option>
          <option>Pizzas</option>
          <option>Parriladas</option>
          <option>HappyBoxs</option>
          <option>DeliciusPack</option>
          <option>Menus</option>
          <option>PremiumPacks</option>
        </select>
      </div>
      </form>
    </div>
    <div class="property-items as-grid">
      <!--------------------
            START - Property Item
            -------------------->
      <% products.forEach(function(item){ %>
      <div class="property-item">
        <a class="item-media-w" href="/admin/editproduct/<%= item.id %>">
          <div
            class="item-media"
            style="background-image: url('./uploads/<%= item.imagen %>')"
          ></div>
        </a>
        <div class="item-info">
          <span>Id : <a href="/admin/editproduct/<%= item.id %>" ><%=  item.id %></a></span>
          <div class="item-features">
            <div class="feature"> <%=  item.nombreoficial %>   </div>
            <div class="feature"> <%= item.categoria %> </div>
          </div>
          <h3 class="item-title">
            <a href="/admin/editproduct/<%= item.id %>"><%= item.nombreoficial %></a>
          </h3>
          <div class="item-reviews">
            <div class="reviews-stars"></div>
            <div class="reviews-count" style="max-width: 300px;word-wrap: break-word;" > <%= item.descripccion %>  </div>
          </div>
          <div class="item-price-buttons">
            <div class="item-price">
              <strong> $<%= item.preciodescuento %> </strong><span>/cada uno</span>
            </div>
            <div class="item-buttons">
              <a
                class="btn btn-outline-primary"
                href="/admin/editproduct/<%= item.id %>"
                ><span>Details & Edit</span
                ><i class="os-icon os-icon-arrow-2-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <% })%>
      <!--------------------
            END - Property Item
            -------------------->
    </div>
    <div class="pagination-w">
      <div class="pagination-info">
        Showing 20-40 Properties found in Brooklyn, NY
      </div>
      <div class="pagination-links">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#"> Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#"> 1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#"> 2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#"> 3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#"> Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
